<div class="day-checkbox-wrapper">
    <RadzenCheckBox TValue="bool"
                    Name="@($"DayCheckBox{DisplayDate:yyyyMMdd}")"
                    Value="@IsChecked"
                    Change="@HandleDayCheckedChange"
                    class="day-checkbox" />
    <RadzenLabel Component="@($"DayCheckBox{DisplayDate:yyyyMMdd}")"
                 class="day-checkbox-label">
        <span class="day-checkbox-daypart">@DisplayDate.ToString("dd")</span>
        <span class="day-checkbox-monthpart">@DisplayDate.ToString("MMM").TrimEnd('.')</span>
    </RadzenLabel>
</div>

@code {
    [Parameter, EditorRequired]
    public DateOnly DisplayDate { get; set; }

    [Parameter]
    public bool IsChecked { get; set; }

    [Parameter]
    public EventCallback<bool> OnDayChecked { get; set; }

    private async Task HandleDayCheckedChange(bool isChecked)
    {
        await OnDayChecked.InvokeAsync(isChecked);
    }
}